{% extends 'main/base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}Корзина{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div id="wrapper" class="shopping-cart-content row">
            <div class="col-12 col-lg-3 col-xl-2 side_bar_cart">
                <div class="card">
                    <div class="card-header fix-header row col-lg-3 col-xl-2 justify-content-between">
                        <div class="col-6 col-md-5 p-0">
                            <h5>Корзины</h5>
                        </div>
                        <div class="row col-md-5 col-lg-4 col-xl-4 p-0 pt-2 pr-2 justify-content-center">
                            <i class="material-icons cart_list_add_cart add_one_shopping_cart mr-1">add_shopping_cart</i>
                            <i class="material-icons cart_list_remove_cart">remove_shopping_cart</i>
                        </div>
                    </div>
                    <div style="height: 75px"></div>

                    <div class="row shopping_cart_preload">
                        <div class="col-12 p-0">
                            {% for cart_item in list_customer_cart %}
                                <div class="preload_ui">
                                    <div class="preload_ui_content">
                                        <div class="preload_ui_content_1"></div>
                                        {% for warehouse in cart_item.warehouses %}
                                            <div class="preload_ui_content_2 "></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row shopping_cart_loaded d-none">
                            {% for cart_item in list_customer_cart %}
                                <div class="col-12 cart_list_row {% if cart_item.id in carts %}active_cart_list_row{% endif %} pl-2 pr-2"
                                     data-id-cart="{{ cart_item.id }}"
                                >
                                    <div class="checkbox-div">

                                        <div class="cart_name">{{ cart_item.name }}</div>
                                        {% if cart_item.id != 0 %}
                                            <i class="material-icons edit-item" data-id-cart="{{ cart_item.id }}"
                                               data-name-cart="{{ cart_item.name }}">edit</i>
                                        {% endif %}
                                    </div>

                                    <ul class="cart_list_warehouse">
                                        {% for warehouse in cart_item.warehouses %}
                                            {% if forloop.counter == 1 %}
                                                <img class="stock-icon" width="15" height="15"
                                                     src="{% static 'img/places-warehouse.png' %}"
                                                     alt="альтернативный текст"
                                                >
                                            {% endif %}
                                            <li>{{ warehouse.name_repr }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% if cart_item.weight != '0.000' %}
                                        <div class="cart_weight">
                                            <span>Вес: </span>
                                            <span>{{ cart_item.weight }}</span>
                                            <span>кг</span>
                                        </div>
                                    {% endif %}
                                    {% if cart_item.cost.sum != 0 %}
                                        <div class="cart_currency {% if cart_item.id in carts %}font-w-700{% endif %}">
                                            <span>{{ cart_item.cost.currency.abbr }}</span>

                                            <span class="sumCart"
                                                    data-cart-sum="{{ cart_item.cost.sum|to_js_float }}">
                                                    {{ cart_item.cost.sum_delivery|float_format }}
                                                </span>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="page-content-wrapper" class="col-12 col-lg-9 col-xl-10 custom_scroll_container">

                {% if -1 in carts %}
                    <h1 class="empty_cart" data-empty="true">Выберите корзину</h1>
                {% elif not list_grouped.main_warehouse and not list_grouped.on_request and not list_grouped.not_found_in_price %}
                    <h1 class="empty_cart" data-empty="true">Корзина пуста</h1>
                {% else %}

                    <div class="shopping_cart_preload">
                        {% for item in list_grouped.main_warehouse %}
                            <div class="preload_ui">
                                <div class="preload_ui_content">
                                    <div class="preload_ui_content_1"></div>
                                    {% for cart_row in item.cart_rows %}
                                        <div class="preload_ui_content_2"></div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        {% for item in list_grouped.on_request %}
                            <div class="preload_ui">
                                <div class="preload_ui_content">
                                    <div class="preload_ui_content_1"></div>
                                    {% for cart_row in item.cart_rows %}
                                        <div class="preload_ui_content_2 "></div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        {% for item in list_grouped.not_found_in_price %}
                            <div class="preload_ui">
                                <div class="preload_ui_content">
                                    <div class="preload_ui_content_1"></div>
                                    {% for cart_row in item.cart_rows %}
                                        <div class="preload_ui_content_2 "></div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="shopping_cart_loaded d-none">

                        {% if  list_grouped.main_warehouse %}
                            {% include   'shopping_cart/warehouse_rows_block.html' %}
                        {% endif %}

                        {% if list_grouped.on_request %}
                            {% include   'shopping_cart/on_request_block.html' %}
                        {% endif %}

                        {% if  list_grouped.not_found_in_price %}
                            {% include   'shopping_cart/not_found_in_price_block.html' %}
                        {% endif %}

                        <div class="">
                            <button id="del-selected-goods" class="btn btn-success">
                                Удалить отмеченные товары
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>

                {% endif %}

                <!-- Modal -->
                <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header d-block">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="cart-icon-inside">
                                            <img class="d-inline-block align-top doc-icon" src="{% static 'img/vesna_img/shopping-cart.svg' %}">
                                            <span class="badge badge-dark cart-sum">
                                                        {{ shopping_cart_params.price_sum_all_delivery|float_format }}
                                                     </span>
                                            <div class="shopping-cart-badge">
                                                <span class="cart-indicator badge badge-dark">{{ shopping_cart_params.row_count_customer }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h5>Отгрузка заказа</h5>
                                        {#                                                <span class="cart_nate_output">Основная</span>#}
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 warwhouse_name_output_b mt-2">
                                        <span>Склад: </span>
                                        <span class="warwhouse_name_output">Киев</span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-1">
                                        <i class="material-icons">date_range</i>
                                    </div>
                                    <div class="col-11 date_b">
                                        <label>Дата:
                                            {#                                                  убрать disabled когда в 1с будут готовы работать с датой !#}
                                            <input class="date_input" disabled>
                                        </label>
                                    </div>
                                    <div class="col-1 pt-1">
                                        <i class="material-icons car">local_shipping</i>
                                        <div class="car_light"></div>
                                    </div>
                                    <div class="col-11 delivery-modal pr-4 mb-3">
                                        <select title="Доставка" class="form-control  w-100">
                                            {% if delivery_data.warhouse_delivery.length == 0 %}
                                                <option selected="selected">
                                                    Обратитесь к менеджеру для создания доставки
                                                </option>
                                            {% else %}
                                                {% for item_delivery in delivery_data.warhouse_delivery %}
                                                    <option value="{{ item_delivery.id }}">
                                                        {{ item_delivery.name }}/{{ item_delivery.when }}/
                                                        {{ item_delivery.time_dispatch }}
                                                    </option>
                                                {% endfor %}
                                                <option value="-1">Создать новую настройку доставки</option>
                                                </select>
                                            {% endif %}
                                    </div>
                                    <div class="third_party_company col-12 pr-2 pl-1">
                                        <div class="col-12">
                                            <div class="form-group pr-0 mb-1" id="collapse_delivery_creat">
                                                {#                                                    <label class="label_setting_delivery">Создание настройки доставки</label>#}
                                                <div class="mt-0 mb-2 ">
                                                    <select class="form-control" id="method_delivery_warehouse">
                                                        <option hidden>Способ доставки</option>
                                                        {#                                                            <option>Новая Почта</option>#}
                                                        {#                                                            <option>text 2</option>#}
                                                        {#                                                            <option>text 3</option>#}
                                                        {#                                                            <option data-create-setting-dev="create">#}
                                                        {#                                                                Создать новую настройку доставки#}
                                                        {#                                                            </option>#}
                                                    </select>
                                                </div>
                                                <div class="block_create_setting ">
                                                    <div class="mt-2 mb-2 ">
                                                        <select class="form-control personal_data select-city"
                                                                id="select-city"
                                                                data-personal="city"
                                                                {#                                                                    id="NPCity"#}
                                                                {#                                                                disabled#}
                                                        >
                                                            <option hidden>Выберите город</option>
                                                            {#                                                                <option data-personal="city" >Город1</option>#}
                                                        </select>
                                                    </div>
                                                    <div class="mt-2 mb-2 ">
                                                        <select class="form-control personal_data select-warehouse"
                                                                id="select-warehouse"
                                                                data-personal="delivery_department"
                                                                {#                                                                    id="NPWarehouse"#}
                                                                {#                                                                disabled#}
                                                        >
                                                            <option hidden>Выберите отделение</option>
                                                            {#                                                                <option data-personal="department">Отделение1</option>#}
                                                        </select>
                                                    </div>
                                                    <div class="mt-2 mb-2 recipient_selector d-none">
                                                        <select class="form-control personal_data select-recipients"
                                                                id="select-recipients"
                                                                data-personal="recipient_id"
                                                        >
                                                            <option hidden>Выберите получателя</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-row align-items-center recipient_form">
                                                        <div class="col-6 my-1">
                                                            <input type="text" class="form-control personal_data"
                                                                   data-personal="last_name"
                                                                   placeholder="Фамилия">
                                                        </div>
                                                        <div class="col-3 my-1">
                                                            <input type="text" class="form-control personal_data"
                                                                   data-personal="first_name"
                                                                   placeholder="Имя">
                                                        </div>
                                                        <div class="col-3 my-1">
                                                            <input type="text" class="form-control personal_data"
                                                                   data-personal="middle_name"
                                                                   placeholder="Отчество">
                                                        </div>
                                                    </div>
                                                    <div class="my-1 recipient_form">
                                                        <input type="text"
                                                               class="form-control personal_data"
                                                               data-personal="phone"
                                                               id="phoneSettingDeliver"
                                                               placeholder="+38 (___) ___ __ __"
                                                               data-country="US"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                                <span class="delivery_type_output">
                                                    До бесппатной доставки осталось: 1 EUR
                                                </span>
                                    </div>
                                    <div class="col-12 descript_b mt-2 pr-4 pl-3">
                                        {#                                                <label for="descr_text"> Примечание к заказу:</label>#}
                                        <textarea id="descr_text" rows="3" class="form-control"
                                                  placeholder="Примечание к заказу:"></textarea>
                                    </div>
                                    <div class="col-12 mt-2 pl-3 pr-3">
                                        <div class="checkbox-div">
                                            <input class="" type="checkbox" id="checkbox_agree">
                                            <label for="checkbox_agree"></label>
                                        </div>
                                        <a href="/pages/terms_of_service/">С условиями возврата ознакомлен</a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                {# <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
                                {# <button type="button" class="btn btn-secondary">Save changes</button>  #}
                                <button class="col-6 btn btn-secondary to-ship confirm-order"
                                        data-id-list-tmp=""
                                        data-warehouse-id="">
                                    <div class="row justify-content-between">
                                        <div class="col-6 p-0">
                                            <span>Отгрузить</span>
                                        </div>
                                        <div class="col-6 p-0 pr-3">
                                            <div class="row text-right">
                                                <div class="col pl-0 pr-2">
                                                            <span class="dropdown-togglecurrency">
                                                                {% for currency in sell_currency %}
                                                                    {% if currency.id == show_currency_id %}
                                                                        {#                                                                     {{ currency.abbr }}#}
                                                                        EUR
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </span>
                                                    <span class="sum_warehouse cart-sum"
                                                          data-sum-all="{{ shopping_cart_params.price_sum_all_delivery|to_js_float }}">
                                                                {{ shopping_cart_params.price_sum_all_delivery|float_format }}
                                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>


{% endblock %}

{% block script %}
{% endblock %}
