{% extends 'main/base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="login-bg_block">
        <canvas id="pixie"></canvas>
    </div>
    <div class="login-container">
        <img
                src="{% static 'img/logo.png' %}" alt=""
        >
        <div class="header-container">
            <div class="d-inline-block">
                <p>запчастини для комерційного транспорту</p>
            </div>
        </div>
        <form autocomplete="off" method="post">
            {% csrf_token %}

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-group">
                <label for="id_username"></label>
                <input class="form-control"
                       name="username"
                       autofocus id="id_username"
                       value=""
                       autocomplete="off"
                       type="text"
                       placeholder="Логин"
                       required
                       pattern="^[0-9a-zA-Z\.@+-_]+$"
                       data-toggle="tooltip"
                       data-placement="top"
                       title='Логин не более 150 символов. Латинские буквы, цифры и символы @, ., +, -, _'

                >
                {#                <div class="btn btn-link password_active">#}
                {#                    <i class="material-icons">#}
                {#                        arrow_forward#}
                {#                    </i>#}
                {#                </div>#}

            </div>
            <div class="form-group hidden_input">
                <label for="id_password"></label>
                <input class="form-control" id="id_password" name="password" value=""
                       type="password" placeholder="Пароль" required>
                <button type="submit" class="btn btn-link animated">
                    <i class="material-icons">
                        arrow_forward
                    </i>
                </button>
            </div>
        </form>
        <ul class="login_link_list">
            <li>
                <a href="{% url "registration_register" %}">Регистрация</a>
            </li>
            <li>
                <a href="/accounts/password/reset">Забыли пароль</a>
            </li>
        </ul>
    </div>

{% endblock %}


{% block script2 %}


{% endblock %}
