{% load i18n %}
{% load staticfiles %}
{% load customtags %}
{% load static_text %}

<div class="container-fluid store_keeper_menu">
    <div class="row bg-light">
        <div class="col-md-12 mx-auto">
            {% if user.is_authenticated %}
                {% for menu_item in frontend_data.menu %}
                    {% if menu_item.child %}
                        <hr>
                        <p class="h5">{{ menu_item.text }}</p>
                        <ul class="list-group">
                            {% for item in menu_item.child %}
                                <li class="list-group-item {% if request.get_full_path == item.url %} active{% endif %}" href="{{ item.url }}">
                                    <a href="{{ item.url }}">
                                        {{ item.text }}
                                        {% if item.option %}
                                            <span class="badge badge-primary badge-pill">
                                                {{ item.option }}
                                            </span>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                    {% else %}
                        <hr>
                        <p class="h5">{{ menu_item.text }}</p>
                        <ul class="list-group">
                            <li class="list-group-item {% if request.get_full_path == menu_item.url %} active{% endif %}">
                                <a href="{{ menu_item.url }}">{{ menu_item.text }}</a>
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
    </div>
</div>


