<template>
  <div :class="['is-' + $mq, { 'is-open': mobile.open }]" class="betslip">
    <button class="betslip__mobile-btn" :class="getSelectedOperator" @click.prevent="toggleOpen">
      <svg v-if="mobile.open" class="betslip__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.9 21.9">
        <path
          d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z"
        />
      </svg>
      <span v-else :class="{ 'is-added': bets.length }">
        <svg class="betslip__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M433.23 0H78.769c-5.438 0-9.846 4.409-9.846 9.846v492.307a9.844 9.844 0 0 0 14.912 8.442l43.553-26.132 34.089 25.567a9.842 9.842 0 0 0 10.974.565l43.553-26.132 34.089 25.567a9.842 9.842 0 0 0 10.974.565l43.553-26.132 34.089 25.567a9.842 9.842 0 0 0 10.974.565l43.553-26.132 34.089 25.567a9.84 9.84 0 0 0 5.909 1.969 9.866 9.866 0 0 0 4.403-1.039 9.85 9.85 0 0 0 5.442-8.808V9.846C443.077 4.409 438.668 0 433.23 0zm-9.846 482.461l-23.631-17.724a9.839 9.839 0 0 0-10.974-.565l-43.553 26.132-34.089-25.567a9.833 9.833 0 0 0-5.909-1.969c-1.748 0-3.5.464-5.065 1.404l-43.553 26.132-34.089-25.567a9.839 9.839 0 0 0-10.974-.565l-43.553 26.132-34.089-25.567a9.839 9.839 0 0 0-10.974-.565l-34.318 20.591V19.692h334.769v462.769z"
          />
          <path
            d="M177.231 88.615H128c-5.437 0-9.846 4.409-9.846 9.846 0 5.438 4.409 9.846 9.846 9.846h49.231c5.438 0 9.846-4.409 9.846-9.846s-4.409-9.846-9.846-9.846zM364.307 137.846h-49.231c-5.438 0-9.846 4.409-9.846 9.846 0 5.438 4.409 9.846 9.846 9.846h49.231c5.438 0 9.846-4.409 9.846-9.846.001-5.437-4.408-9.846-9.846-9.846zM364.307 187.077h-49.231c-5.438 0-9.846 4.409-9.846 9.846 0 5.438 4.409 9.846 9.846 9.846h49.231c5.438 0 9.846-4.409 9.846-9.846.001-5.438-4.408-9.846-9.846-9.846zM364.307 236.307h-49.231c-5.438 0-9.846 4.409-9.846 9.846 0 5.438 4.409 9.846 9.846 9.846h49.231c5.438 0 9.846-4.409 9.846-9.846.001-5.437-4.408-9.846-9.846-9.846zM364.307 285.538h-49.231c-5.438 0-9.846 4.409-9.846 9.846 0 5.438 4.409 9.846 9.846 9.846h49.231c5.438 0 9.846-4.409 9.846-9.846.001-5.437-4.408-9.846-9.846-9.846zM364.307 334.769h-49.231c-5.438 0-9.846 4.409-9.846 9.846 0 5.438 4.409 9.846 9.846 9.846h49.231c5.438 0 9.846-4.409 9.846-9.846.001-5.438-4.408-9.846-9.846-9.846zM265.846 137.846H128c-5.437 0-9.846 4.409-9.846 9.846 0 5.438 4.409 9.846 9.846 9.846h137.846c5.438 0 9.846-4.409 9.846-9.846s-4.408-9.846-9.846-9.846zM265.846 187.077H128c-5.437 0-9.846 4.409-9.846 9.846 0 5.438 4.409 9.846 9.846 9.846h137.846c5.438 0 9.846-4.409 9.846-9.846 0-5.438-4.408-9.846-9.846-9.846zM265.846 236.307H128c-5.437 0-9.846 4.409-9.846 9.846 0 5.438 4.409 9.846 9.846 9.846h137.846c5.438 0 9.846-4.409 9.846-9.846s-4.408-9.846-9.846-9.846zM265.846 285.538H128c-5.437 0-9.846 4.409-9.846 9.846 0 5.438 4.409 9.846 9.846 9.846h137.846c5.438 0 9.846-4.409 9.846-9.846s-4.408-9.846-9.846-9.846zM265.846 334.769H128c-5.437 0-9.846 4.409-9.846 9.846 0 5.438 4.409 9.846 9.846 9.846h137.846c5.438 0 9.846-4.409 9.846-9.846 0-5.438-4.408-9.846-9.846-9.846z"
          />
        </svg>
        <span class="betslip__count">{{ bets.length }}</span>
      </span>
    </button>
    <div :class="getSelectedOperator" class="betslip__header">
      <button v-if="showFrame" type="button" class="betslip__back" @click.prevent="toggleFrame">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492 492">
          <path
            d="M464.344 207.418l.768.168H135.888l103.496-103.724c5.068-5.064 7.848-11.924 7.848-19.124 0-7.2-2.78-14.012-7.848-19.088L223.28 49.538c-5.064-5.064-11.812-7.864-19.008-7.864-7.2 0-13.952 2.78-19.016 7.844L7.844 226.914C2.76 231.998-.02 238.77 0 245.974c-.02 7.244 2.76 14.02 7.844 19.096l177.412 177.412c5.064 5.06 11.812 7.844 19.016 7.844 7.196 0 13.944-2.788 19.008-7.844l16.104-16.112c5.068-5.056 7.848-11.808 7.848-19.008 0-7.196-2.78-13.592-7.848-18.652L134.72 284.406h329.992c14.828 0 27.288-12.78 27.288-27.6v-22.788c0-14.82-12.828-26.6-27.656-26.6z"
          />
        </svg>
      </button>
      <div v-else class="betslip__operator">
        <operator></operator>
      </div>
      <user v-if="isAuthenticated"></user>
      <span v-else class="betslip__name">
        <span>Betslip</span>
      </span>
    </div>
    <div class="betslip__content">
      <div class="betslip__body">
        <div v-if="getApiErrors.length && !showErrors" class="betslip__errors">
          <alert
            v-for="error in getApiErrors"
            :key="error.message"
            :message="error.message"
            :status="error.status"
          ></alert>
        </div>
        <i-frame
          v-if="showFrame"
          key="betslip-iframe"
          :url="frameContent === 'deposit' ? depositLink : authLink"
        ></i-frame>
        <div v-else key="betslip-controller">
          <preloader :active="isLoading" text="Placing bet with Bookmaker"></preloader>
          <div v-if="betsLength && !isReceiptShow" key="betslip-bets" class="betslip__bets">
            <bets-list :bets="bets"></bets-list>
            <bets-multi v-if="multiplesShow"></bets-multi>
            <div class="betslip__actions">
              <total></total>
              <button
                v-if="isAuthenticated"
                key="submit-btn"
                :disabled="!isValid"
                type="button"
                class="betslip__btn"
                @click="submitStake"
              >
                Place bet
              </button>
              <button v-else key="login-btn" type="button" class="betslip__btn" @click.prevent="toggleFrame">
                Place bet
              </button>
            </div>
          </div>
          <div v-else-if="isReceiptShow" key="betslip-receipt" class="betslip__receipt">
            <receipt></receipt>
          </div>
          <p v-else class="betslip__empty">Your betslip is empty.</p>
        </div>
      </div>
      <div v-if="bets.length || showFrame" class="betslip__footer">
        <terms :info="termsInfo"></terms>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import Total from '@/components/betslip/Total'
import Preloader from '@/components/common/Preloader'
import Terms from '@/components/betslip/Terms'
import BetsList from '@/components/betslip/BetsList'
import Operator from '@/components/betslip/Operator'
import BetsMulti from '@/components/betslip/BetsMulti'
import Receipt from '@/components/betslip/Receipt'
import Alert from '@/components/common/Alert'
import User from '@/components/betslip/User'
import IFrame from '@/components/common/IFrame'

export default {
  name: 'Betslip',
  components: {
    Total,
    Receipt,
    User,
    Preloader,
    Alert,
    IFrame,
    Terms,
    BetsList,
    Operator,
    BetsMulti,
  },
  data: () => ({
    mobile: {
      open: false,
    },
    showErrors: false,
    isTouch: false,
  }),
  computed: {
    ...mapGetters(['isAuthenticated', 'getApiErrors', 'getSelectedOperator', 'betsLengthUnique']),
    ...mapState({
      bets: state => state.betslip.bets,
      isValid: state => state.betslip.isValid,
      betsRequest: state => state.betslip.betsRequest,
      isLoading: state => state.betslip.status === 'loading',
      authLink: state => state.operators.selectedOperator.links.auth,
      depositLink: state => `${state.operators.selectedOperator.links.deposit}&access-token=${state.auth.token}`,
      showFrame: state => state.betslip.showFrame,
      frameContent: state => state.betslip.frameContent,
      termsInfo: state => state.operators.selectedOperator.terms,
      isReceiptShow: state => !!state.betslip.receipt,
      betsLength: state => state.betslip.bets.length,
      multiplesShow: state => state.betslip.betsMultiples.length > 0,
    }),
  },
  watch: {
    getApiErrors(errors) {
      if (errors.length) {
        this.showErrors = false
        setTimeout(() => {
          this.showErrors = true
        }, 5000)
      }
    },
    getSelectedOperator(operator) {
      localStorage.setItem('bs-operator', operator)
    },
    betsLength() {
      this.setMultiplesBet(this.betsLengthUnique)
      this.setTotalStake()
      this.setTotalReturn()
      this.checkValid()
    },
  },
  created() {
    this.removeApiErrors()
    this.validateRelease()
    if (this.isAuthenticated) {
      this.walletRequest()
    }
    localStorage.setItem('bs-operator', this.getSelectedOperator)
    window.addEventListener('storage', event => {
      if (!event.newValue) return
      if (event.key !== 'bs-accounts') return
      this.toggleFrame()
      const accounts = JSON.parse(event.newValue)
      const selectedAccount = accounts.find(account => account.operator === this.getSelectedOperator)
      if (selectedAccount.state === 'auth') {
        this.addAccount(selectedAccount)
        this.walletRequest()
      }
      if (selectedAccount.state === 'deposit') {
        this.walletRequest()
      }
    })
  },
  mounted() {
    if ('ontouchstart' in this.$el) {
      this.isTouch = true
    }
  },
  methods: {
    ...mapActions([
      'betRequest',
      'toggleFrame',
      'walletRequest',
      'removeApiErrors',
      'addAccount',
      'validateRelease',
      'setMultiplesBet',
      'setBetsRequest',
      'checkValid',
      'setTotalStake',
      'setTotalReturn',
    ]),
    submitStake() {
      if (this.isValid) {
        this.setBetsRequest()
        this.betRequest(this.betsRequest)
      }
    },
    toggleOpen() {
      if (this.$mq !== 'desktop') {
        this.mobile.open = !this.mobile.open
      }
    },
  },
}
</script>

<style lang="scss">

</style>
