<template>
  <div class="bs-stake">
    <span class="bs-stake__currency">{{ getCurrencySymbol }}</span>
    <div ref="autoNumeric" class="bs-stake__holder">
      <vue-autonumeric
        v-model="stake"
        :options="{
          digitGroupSeparator: '',
          minimumValue: '0',
          emptyInputBehavior: 'null',
          showWarnings: false,
          formatOnPageLoad: false,
        }"
        class="bs-stake__field"
        placeholder="Stake"
        type="text"
        inputmode="numeric"
      ></vue-autonumeric>
      <span v-if="error" class="bs-stake__error">{{ error }}</span>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import VueAutonumeric from 'vue-autonumeric'

export default {
  name: 'Stake',
  components: {
    VueAutonumeric,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    error: '',
  }),
  computed: {
    ...mapGetters(['getStakeById', 'getCurrencySymbol']),
    stake: {
      get() {
        return this.getStakeById(this.id)
      },
      set(stake) {
        this.setStake({ id: this.id, stake, isValid: this.isValid(stake) })
      },
    },
  },
  watch: {
    stake() {
      this.checkValid()
    },
  },
  mounted() {
    if (this.stake === 0 && this.$children.length > 0) {
      this.$children.forEach(instance => {
        if (Object.prototype.hasOwnProperty.call(instance, 'anElement')) {
          instance.anElement.clear()
        }
      })
    }
    this.$refs.autoNumeric.addEventListener('autoNumeric:rawValueModified', () => {
      this.validateOnInput()
    })
  },
  methods: {
    ...mapActions(['setStake', 'setBetsRequest', 'checkValid']),
    validateOnInput() {
      const currencySymbol = this.getCurrencySymbol
      if (this.stake > 999.99) {
        this.error = `Max ${currencySymbol} 999.99`
      } else if (this.stake < 0.01 && this.stake !== null) {
        this.error = `Min ${currencySymbol} 0.01`
      } else {
        this.error = ''
      }
    },
    isValid(stake) {
      if (stake > 999.99 || stake < 0.01) {
        return false
      }
      return true
    },
  },
}
</script>

<style lang="scss">

</style>
