<template>
  <div class="bs-separate-odd" :class="{ 'is-selection-loading': isLoading }">
    <selection
      :selection="selection"
      :disabled="disabled"
      :active="isActiveBet(selectionKey)"
      @click.native="selectOperatorOutSide(operator)"
    ></selection>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Selection from '@/components/common/Selection'
import api from '@/services/api'

export default {
  name: 'SeparateOdds',
  components: { Selection },
  props: {
    operator: {
      type: String,
      required: true,
    },
    eventId: {
      type: String,
      required: true,
    },
    marketType: {
      type: String,
      required: true,
    },
    eventName: {
      type: String,
      required: true,
    },
    selectionKey: {
      type: String,
      required: true,
    },
    marketName: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    isLoading: false,
    selection: null,
    disabled: false,
  }),
  computed: {
    ...mapGetters(['isActiveBet']),
  },
  created() {
    this.betRequest()
  },
  methods: {
    ...mapActions(['selectOperatorOutSide']),
    betRequest() {
      this.isLoading = true
      const $this = this
      api
        .post('odds', {
          eventsRequest: [
            {
              eventId: $this.eventId,
              markets: [$this.marketType],
            },
          ],
          operator: $this.operator,
        })
        .then(({ data }) => {
          if (data.length !== 0) {
            const result = data[0].matched_events[0].markets[0].odds.find(
              item => item.selection_key === $this.selectionKey
            )
            if (typeof result === 'undefined') {
              throw new Error('odds is not found in result')
            }
            $this.isLoading = false
            $this.selection = {
              ...$this.selection,
              ...result,
              event_name: this.eventName,
              market_name: this.marketName,
            }
          } else {
            throw new Error('odds is not found. Result is empty')
          }
        })
        .catch(() => {
          $this.isLoading = false
          $this.disabled = true
        })
    },
  },
}
</script>
