<template>
  <div class="bs-accordion">
    <div class="bs-accordion__list">
      <div v-if="goalScorerMarkets.length" class="bs-accordion__item">
        <button v-b-toggle="`goalScorer-${eventId}`" type="button" class="bs-accordion__toggle">
          Goal Scorer
          <span class="bs-arrow"></span>
        </button>
        <b-collapse :id="`goalScorer-${eventId}`">
          <div class="bs-accordion__body">
            <goal-scorer :markets="goalScorerMarkets" :limit="3"></goal-scorer>
          </div>
        </b-collapse>
      </div>
      <div v-if="handicapMarkets.length" class="bs-accordion__item">
        <button v-b-toggle="`handicap-${eventId}`" type="button" class="bs-accordion__toggle">
          Handicap Betting
          <span class="bs-arrow"></span>
        </button>
        <b-collapse :id="`handicap-${eventId}`">
          <div class="bs-accordion__body">
            <handicap :markets="handicapMarkets"></handicap>
          </div>
        </b-collapse>
      </div>
      <div v-if="overUnderMarkets.length" class="bs-accordion__item">
        <button v-b-toggle="`overUnder-${eventId}`" type="button" class="bs-accordion__toggle">
          Over / Under Total Goals
          <span class="bs-arrow"></span>
        </button>
        <b-collapse :id="`overUnder-${eventId}`">
          <div class="bs-accordion__body">
            <over-under :markets="overUnderMarkets"></over-under>
          </div>
        </b-collapse>
      </div>
      <div v-if="bttsMarkets" class="bs-accordion__item">
        <button v-b-toggle="`btts-${eventId}`" type="button" class="bs-accordion__toggle">
          Both Teams To Score
          <span class="bs-arrow"></span>
        </button>
        <b-collapse :id="`btts-${eventId}`">
          <div class="bs-accordion__body">
            <btts :market="bttsMarkets"></btts>
          </div>
        </b-collapse>
      </div>
      <div v-if="bttsWinMarkets" class="bs-accordion__item">
        <button v-b-toggle="`bttsWin-${eventId}`" type="button" class="bs-accordion__toggle">
          Match Betting and Both Teams To Score
          <span class="bs-arrow"></span>
        </button>
        <b-collapse :id="`bttsWin-${eventId}`">
          <div class="bs-accordion__body">
            <btts-win :market="bttsWinMarkets"></btts-win>
          </div>
        </b-collapse>
      </div>
      <div v-if="correctScoreMarkets" class="bs-accordion__item">
        <button v-b-toggle="`correctScore-${eventId}`" type="button" class="bs-accordion__toggle">
          Correct Score
          <span class="bs-arrow"></span>
        </button>
        <b-collapse :id="`correctScore-${eventId}`">
          <div class="bs-accordion__body">
            <correct-score :market="correctScoreMarkets" :limit="3"></correct-score>
          </div>
        </b-collapse>
      </div>
      <div v-if="halfFullTimeMarkets" class="bs-accordion__item">
        <button v-b-toggle="`halfTimeFullTime-${eventId}`" type="button" class="bs-accordion__toggle">
          Half Time / Full Time
          <span class="bs-arrow"></span>
        </button>
        <b-collapse :id="`halfTimeFullTime-${eventId}`">
          <div class="bs-accordion__body">
            <half-full-time :market="halfFullTimeMarkets" :limit="3"></half-full-time>
          </div>
        </b-collapse>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MarketList',
  components: {
    Handicap: () => import('@/components/markets/Handicap'),
    GoalScorer: () => import('@/components/markets/GoalScorer'),
    Btts: () => import('@/components/markets/Btts'),
    BttsWin: () => import('@/components/markets/BttsWin'),
    CorrectScore: () => import('@/components/markets/CorrectScore'),
    OverUnder: () => import('@/components/markets/OverUnder'),
    HalfFullTime: () => import('@/components/markets/HalfFullTime'),
  },
  props: {
    eventId: {
      type: String,
      required: true,
    },
    markets: {
      type: Array,
      required: false,
      default: function() {
        return []
      },
    },
  },
  computed: {
    handicapMarkets() {
      return this.markets
        .filter(market => market.type.includes('handicap'))
        .sort((a, b) => (a.type > b.type) - (a.type < b.type))
    },
    goalScorerMarkets() {
      const sortBy = this.$store.state.selections.goalScorerSort
      return this.markets
        .filter(market => market.type.includes('goal-scorer'))
        .sort((a, b) => {
          let result = 0
          sortBy.map(item => {
            if (item === a.type) {
              result = 1
            } else if (item === b.type) {
              result = -1
            }
          })
          return result
        })
    },
    overUnderMarkets() {
      return this.markets.filter(market => market.type.includes('over-under'))
    },
    bttsMarkets() {
      return this.markets.find(market => market.type === 'btts')
    },
    bttsWinMarkets() {
      return this.markets.find(market => market.type === 'btts-win')
    },
    halfFullTimeMarkets() {
      return this.markets.find(market => market.type === 'half-time-full-time')
    },
    correctScoreMarkets() {
      return this.markets.find(market => market.type === 'correct-score')
    },
  },
}
</script>

<style lang="scss">
.bs-accordion__list {
  margin-top: 10px;
}

.bs-accordion__body {
  padding: 15px 0;
}

.bs-accordion__item {
  margin-bottom: 2px;
}

.bs-accordion__toggle {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 0;
  color: #0e0e0e;
  background-color: #efefef;
  font-family: inherit;
  font-size: 15px;
  text-align: left;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  &:focus {
    outline: none;
  }
  &[aria-expanded='true'] {
    .bs-arrow {
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}

.bs-arrow {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  flex-shrink: 0;
  &::before,
  &::after {
    position: absolute;
    top: 9px;
    width: 12px;
    height: 2px;
    background-color: #9c9c9c;
    content: '';
    transition: all 0.2s ease;
  }
  &::before {
    left: 0;
    transform: rotate(45deg);
  }
  &::after {
    right: 0;
    transform: rotate(-45deg);
  }
}

.bs-selections__list {
  display: flex;
  flex-direction: row;
  margin: 0 -5px;
}

.bs-selections__list--cols {
  flex-direction: column;
  margin: 0;
  .bs-selections__item {
    padding: 0;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.bs-selections__info {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.bs-selections__item {
  padding: 0 5px;
  flex-grow: 1;
}

.bs-selections__cs {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.bs-selections__side {
  display: block;
  margin-bottom: 3px;
  color: #0e0e0e;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .bs-selections {
    justify-content: center;
  }
}

.bs-markets__item {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.bs-market {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.bs-market__name {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.bs-selections {
  flex-grow: 1;
}

.bs-markets__row {
  display: flex;
  margin: 0 -10px;
  padding: 0;
  flex-wrap: wrap;
}

.bs-markets__col {
  flex: 1 1 0;
  padding: 0 10px;
  .bs-market {
    display: block;
  }
  .bs-selections__list {
    display: block;
  }
}

.bs-market__header {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border: 0;
  color: #0e0e0e;
  background-color: #efefef;
  font-family: inherit;
  font-size: 14px;
  text-align: center;
}

.bs-selections--ht {
  .bs-selections__list {
    display: block;
  }
  .bs-selections__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  .bs-selection {
    width: 100px;
  }
  .bs-selections__side {
    font-size: 14px;
    text-align: left;
    text-transform: none;
  }
}

@media screen and (min-width: 992px) {
  .bs-market {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .bs-market__name {
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 0;
    text-align: left;
  }
  .bs-selections--ht .bs-selection {
    width: 200px;
  }
}

.bs-markets {
  position: relative;
}

.bs-markets__actions {
  position: relative;
  width: 100%;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #9b9b9b;
}

.bs-markets__more {
  display: block;
  width: 100%;
  min-height: 30px;
  padding: 5px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: #8abd22;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow 0.3s;
  appearance: none;
  .is-no-touch &:hover,
  &:not(:disabled):hover {
    box-shadow: none;
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
</style>
